:root {
    --color-primary: #003366;
    --color-secondary: #3FA9F5;
    --color-background: #E6EEF5;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--color-primary);
    margin: 0px;
}

p {
    text-align: justify;
}

button{
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    margin: 5%;
}

button:hover{
    transform: translateY(-5px);
}
